/* Кольори */
/* фон  #F5F5F5;*/
/* білий #FFFFFF; */
/* Лого #000000 */
/* Акцент #2196F3  */
/* Текст під заголовком #757575 */
/* Колір заголовків #212121 */
/* Фон футера #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --footer-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Утиліти */
.link {
  text-decoration: none;
}

.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

/* Верхні відступи від секцій 94рх */
.top-sp {
  padding-top: 94px;
}

/* Нижні відступи від секцій 94рх */
.bottom-sp {
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Заголовки рівня h2 */
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid salmon;
}

/* Шапка (Лого+Плсилання+контакти) */

.main-nav {
  display: flex;
  align-items: center;
}

.header-list, .header-contacts {
  display: flex;
}

.header-list .header-item:not( :last-child),
.header-contacts .contact-item:not(:last-child) {
  margin-right: 40px;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.accent-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-contacts {
  margin-left: auto;
}

.header-link,
.contacts-email,
.contacts-phone {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;


  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus,
.contacts-email:hover,
.contacts-email:focus,
.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--accent-color);
}

.header-list .link.current {
  color: var(--accent-color);
}





/* Підглянула у Льоші */
.hero,
.footer {
  background-color: var(--footer-color);
}
/* Герой \ hero */
.hero{
  text-align: center;
}

.hero-title {
  /* padding-top: 200px;
  margin-bottom: 30px; */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  min-width: 216px;
  min-height: 50px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
}

.btn.primary {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.btn.secondary {
  /* border: 5px, var(--accent-color) */
  color: var(--accent-color);
  background-color: var(--background-color);
}
.btn.primary:hover,
.btn.primary:focus {
  color: var(--accent-color);
  background-color: var(--background-color);
}


/* Особливості \ features */
.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* Чим ми займаємося */

/* Наша команда */
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-position {
  /* margin-bottom: 30px; */
  
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/* .team-position:last-child {
  margin-bottom: 0;
} */

/* Футер \ contacts */
.contacts-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-text {
  color: #ffffff;
}

.address-text:hover,
.address-text:focus {
  color: var(--accent-color);
}

.footer .contacts-email,
.footer .contacts-phone {
  color: rgba(255, 255, 255, 0.6);
}

.footer .logo {
  color: #ffffff;
}

.contacts-phone:hover,
.contacts-phone:focus,
.contacts-email:hover,
.contacts-email:focus {
  color: var(--accent-color);
}
/* ------------------Портфоліо----------------- */

/* Фільтри */
.filter-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
}

.filter-btn.secondary:hover,
.filter-btn.secondary:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.btn.primary:hover,
.btn.primary:focus {
  color: var(--accent-color);
  background-color: var(--background-color);
}

/* Портфоліо */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
