
/* Кольори */
/* фон  #F5F5F5;*/
/* білий #FFFFFF; */
/* Лого #000000 */
/* Акцент #2196F3  */
/* Текст під заголовком #757575 */
/* Колір заголовків #212121 */
/* Фон футера #2F303A */

:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #F5F5F5;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.list{
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
}



.btn.primary {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.btn.secondary {
    color: var(--accent-color);
    background-color: var(--background-color);
}

/* Заголовки рівня h2 */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Шапка (Лого+Плсилання+контакти) */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.accent-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-link, .contacts-email, .contacts-phone {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-link:hover, 
.header-link:focus, 
.contacts-email:hover,
.contacts-email:focus,
.contacts-phone:hover,
.contacts-phone:focus {
    color: var(--accent-color);
}


.header-list .link.current {
    color: var(--accent-color);
}

/* Герой \ hero */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn.primary:hover, .btn.primary:focus {
    color: var(--accent-color);
    background-color: var(--background-color);
}

/* Особливості \ features */
.feature-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.feature-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

/* Чим ми займаємося */


/* Наша команда */
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* Футер \ contacts */
.contacts-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-text {
    color: #FFFFFF;
}
/* ------------------Портфоліо----------------- */

/* Фільтри */
.filter-btn {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;     
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.filter-btn.secondary:hover,
.filter-btn.secondary:focus {
    color:var(--background-color);
    background: var(--accent-color);

}

/* Портфоліо */
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}